<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="BackLink">
        <a th:href="'/catalog/viewProduct?productId='+${product.productId}">
            Return to <label th:text="${product.productId}">Product ID</label>
        </a>
    </div>

    <div id="Catalog">

        <table>
            <tr>

                <td>
                    <img th:src="${product.descriptionImage}"></td>
                    <td><label th:text="${product.descriptionText}"></label>
                </td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td th:text="${product.name}">Product Name</td>
            </tr>
            <tr>
                <td>Item Attributes:</td>
                <td><b><font size="4" th:text="${item.attribute1}"> Item Attributes </font></b></td>
            </tr>
            <form action="/catalog/updateItem" method="post" th:object="${item}">
            <tr>
                <td>ItemId:</td>
                <td>
                    <input type="text" th:field="*{itemId}">
                </td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td><input type="text" th:field="*{quantity}"></td>
            </tr>
            <tr>
<!--                <td th:text="'$'+*{#numbers.formatDecimal(listPrice,1,2)}">-->
                <td>Price($):</td>
                <td>
                    <input type="text" th:field="*{listPrice}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save Information">
                </td>
                <td><a th:href="'/catalog/deleteItem?itemId='+${item.itemId}">DELETE ITEM</a></td>
            </tr>

            </form>

        </table>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>