<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="Welcome">
        <div id="WelcomeContent">

        </div>
    </div>

    <div id="Main">
        <div id="Sidebar">
            <div id="SidebarContent">
                <a href="/catalog/viewAccount"><h3>Account</h3></a>
                <a href="/catalog/viewCategory?categoryId=FISH"><h3>Fish</h3></a>
                <a href="/catalog/viewCategory?categoryId=DOGS"><h3>Dogs</h3></a>
                <a href="/catalog/viewCategory?categoryId=CATS"><h3>Cats</h3></a>
                <a href="/catalog/viewCategory?categoryId=REPTILES"><h3>Reptiles</h3></a>
                <a href="/catalog/viewCategory?categoryId=BIRDS"><h3>Birds</h3></a>
                <a href="/catalog/viewOrder"><h3>Order</h3></a>
            </div>
        </div>

        <div id="MainImage">
            <div id="MainImageContent">
                <h2>Welcome to the background management system</h2>
                <h2></h2>
                <h2></h2>
                <h2><a href="/catalog/addItem">Add item</a></h2>
            </div>
        </div>

        <div id="Separator">&nbsp;</div>
    </div>

</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>